/* Link colour property end */

/* -----------------------RESUME------------------------- */

table {
  border-collapse: separate;
  border-spacing: 0 100px;
}

.a{
  font-family: 'Ubuntu Condensed', sans-serif;
  font-size: 50%;
  position: relative;
  margin-left:auto;
  margin-right: auto;
  text-align: center;
}

.category{
  /* Education and others */
  position: absolute;
  width: 50%;

}

.table-format{
  position: relative;
  margin-left:auto;
  margin-right: auto;
  text-align: center;
  font-family: 'Ubuntu Condensed', sans-serif;
  font-size: 200%;
}

.detail{
  position: absolute;
  width: 50%;
  margin-left: 40%;

  /* text */
  text-align: center;
}
