/* The body style */
body {
  background-color: #eeeded;
}

/* Name header */
.name {
  color: #8f384d;
  font-family: 'Ubuntu Condensed', sans-serif;
  font-size: 300%
}

/* Adds padding between the site top boundary and the title name */
.title{
  padding-top: 10px;
}

/* Controls the layout of the table */
.table {
  margin-right: auto;
  margin-left: auto;
}

/* Controls the text embedded in the page directory row */
.table {
  color: #8f384d;
  font-size: 75%;
  font-family: 'Quicksand', sans-serif;
}

/* Controls the padding etc of the row of page directories */
.table-layout{
  padding-top: 50px;
}

/* Padding for sections */
.projects {
  padding-right: 30px;
  font-weight: bold;
}

.resume {
  padding-right: 30px;
  font-weight: bold;
}

.blog{
  font-weight: bold;
}

/* Did not add style for Blog as its already positioned correctly */

/* Padding end */
/* Intro text */
.intro-text {
  color: #5c6e91;
  font-family: 'Quicksand', sans-serif;
}

.alligned-text {
  display: inline-block;
  padding-top: 50px;
}

.text-table{
  width: 50%;
  margin-right: auto;
  margin-bottom: auto;
}

.avatar{
  padding-right: 50px;
}
