/* The body style */
body {
  background-color: #eeeded;
}

/* Name title header */
.top-name-title {
  color: #8f384d;
  font-family: 'Ubuntu Condensed', sans-serif;
  font-size: 300%
}

/* Adds padding between the site top boundary and the title name */
.name-title-division {
  padding-top: 10px;
}

/* Controls the padding and structyre of the row of page directories */
.subpages-table-layout {
  padding-top: 50px;
}

/* Controls the layout of the table */
.subpages-layout-table {
  margin-right: auto;
  margin-left: auto;
  color: #8f384d;
  font-size: 75%;
  font-family: 'Quicksand', sans-serif;
}

/* Padding for individual sections of the subpage directory */
.projects {
  font-weight: bold;
}

.resume {
  padding-right: 30px;
  padding-left: 30px;
  font-weight: bold;
}

.blog {
  font-weight: bold;
}
/* E */

/* Did not add style for Blog as its already positioned correctly */
/* Padding end */
/* Intro text */
.intro-text {
  color: #5c6e91;
  font-family: 'Quicksand', sans-serif;
}

.alligned-text {
  display: inline-block;
  padding-top: 50px;
}

.text-table {
  width: 50%;
  margin-right: auto;
  margin-bottom: auto;
}

.avatar {
  padding-right: 50px;
}

/* Link colour */
a:link {
  color: #8f384d;
  background-color: transparent;
  text-decoration: none;
}

a:visited {
  color: #8f384d;
  background-color: transparent;
  text-decoration: none;
}

a:hover {
  color: #8f384d;
  background-color: transparent;
  text-decoration: none;
}

a:active {
  color: #8f384d;
  background-color: transparent;
  text-decoration: none;
}

/* Link colour property end */

/* ------------------------------------------------ */
